python-telegram-bot==20.3  # Последняя стабильная версия
requests==2.31.0           # Последняя версия библиотеки requests
Flask==2.2.5               # Обновленная версия Flask
aiohttp==3.8.5             # Требуется для webhooks
